a {
    text-decoration: none;
}
 /* form { */
    /* width: 18rem; */
    /* margin: auto; */
    /* padding: 1rem; */
/* } */
 /* label {
    display: block;
    margin-top: 0.5rem;
} */
/*input {
    width: 95%;
    margin-top: 1px;
}  */
/* .password-container{
    /* width: 400px; */
    /* position: relative; */
  /* } */
  /* .password-container input[type="password"], */
  /* .password-container input[type="text"]{ */
    /* width: 100%; */
    /* padding: 12px 36px 12px 12px; */
    /* box-sizing: border-box; */
  /* }
  /* .fa-eye{ */
    /* position: absolute; */
    /* top: 42%; */
    /* right: 4%; */
    /* cursor: pointer; */
    /* color: lightgray; */
  /* } */
  
/* button {
    margin: 0.5rem 0;
} */